body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #0c0a08;
    margin-bottom: 20px;
}

h2{
    color:rgb(0, 0, 0)
}

#clock {
    font-size: 48px;
    color: #101214;
    margin: 5px 0;
    padding: 5px;
    border: 2px solid #070808;
    border-radius: 10px;
    background-image:linear-gradient(to bottom, rgb(36, 25, 25),rgb(179, 179, 130))
}

button {
    font-size: 20px;
    padding: 10px 20px;
    color: #fff;
    background-color: #010201;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #bbbe88;
}